In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_users = pd.read_csv("users.csv")
df_fusers = pd.read_csv("fusers.csv")

In [3]:
df_users.describe()

,id,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,geo_enabled,profile_use_background_image,profile_background_tile,utc_offset,protected,verified
count,1.481000e+03,1481.000000,1481.000000,1481.000000,1481.000000,1481.000000,397.0,4.0,719.0,1423.0,486.0,1063.000000,0.0,0.0
mean,4.000432e+08,3140.782579,690.922350,403.128292,439.611749,5.360567,1.0,1.0,1.0,1.0,1.0,1535.841957,NaN,NaN
std,2.961304e+08,6391.957957,11058.508986,610.572368,1970.556008,32.183232,0.0,0.0,0.0,0.0,0.0,7805.690161,NaN,NaN
min,3.610511e+06,3.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,1.0,-39600.000000,NaN,NaN
25%,1.572905e+08,315.000000,45.000000,115.000000,4.000000,0.000000,1.0,1.0,1.0,1.0,1.0,3600.000000,NaN,NaN
50%,3.822478e+08,992.000000,102.000000,226.000000,29.000000,1.000000,1.0,1.0,1.0,1.0,1.0,3600.000000,NaN,NaN
75%,5.229255e+08,3029.000000,259.000000,437.000000,176.000000,2.000000,1.0,1.0,1.0,1.0,1.0,3600.000000,NaN,NaN
max,1.219743e+09,79876.000000,408372.000000,12773.000000,44349.000000,744.000000,1.0,1.0,1.0,1.0,1.0,36000.000000,NaN,NaN

In [4]:
df_fusers.describe()

,id,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,default_profile,default_profile_image,geo_enabled,profile_use_background_image,profile_background_tile,utc_offset,protected,verified
count,1.337000e+03,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,0.0,1331.0,4.0,2.0,1337.0,3.0,6.000000,0.0,0.0
mean,6.897381e+08,45.442034,16.842184,386.761406,7.383695,0.002992,NaN,1.0,1.0,1.0,1.0,1.0,-8700.000000,NaN,NaN
std,2.135086e+08,97.765536,8.011299,210.139672,89.155940,0.054636,NaN,0.0,0.0,0.0,0.0,0.0,31247.847926,NaN,NaN
min,3.738459e+07,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.0,1.0,1.0,1.0,1.0,-39600.000000,NaN,NaN
25%,6.163001e+08,26.000000,13.000000,278.000000,0.000000,0.000000,NaN,1.0,1.0,1.0,1.0,1.0,-36000.000000,NaN,NaN
50%,6.170879e+08,36.000000,18.000000,344.000000,0.000000,0.000000,NaN,1.0,1.0,1.0,1.0,1.0,-8100.000000,NaN,NaN
75%,6.192317e+08,53.000000,22.000000,538.000000,0.000000,0.000000,NaN,1.0,1.0,1.0,1.0,1.0,19800.000000,NaN,NaN
max,1.391998e+09,1576.000000,73.000000,1998.000000,1402.000000,1.000000,NaN,1.0,1.0,1.0,1.0,1.0,19800.000000,NaN,NaN

In [5]:
df_users.shape

(1481, 34)

In [6]:
df_fusers.shape

(1337, 34)

In [8]:
df_users.head(10)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,3610511,Davide Dellacasa,braddd,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,http://braddd.tumblr.com,...,FFF7CC,http://a0.twimg.com/profile_background_images/...,BADFCD,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2015-02-14 10:54:49,E13
1,5656162,Simone Economo,eKoeS,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,http://www.lineheight.net/,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2015-02-14 10:54:49,E13
2,5682702,tacone,tacone_,4024,264,87,323,16,Tue May 01 11:53:40 +0000 2007,http://t.co/LKrl1dZE,...,000000,http://a0.twimg.com/profile_background_images/...,1A1B1F,2FC2EF,3600.0,NaN,NaN,Cogito ergo bestemmio.,2015-02-14 10:54:49,E13
3,6067292,alesaura,alesstar,40586,640,622,1118,32,Tue May 15 16:55:16 +0000 2007,http://alesstar.wordpress.com/,...,95E8EC,http://a0.twimg.com/images/themes/theme4/bg.gif,0099B9,0099B9,3600.0,NaN,NaN,"Se la vita ti dà sarde, scapocciale!",2015-02-14 10:54:49,E13
4,6015122,Angelo,PerDiletto,2016,62,64,13,0,Sun May 13 19:52:00 +0000 2007,http://www.flickr.com/per_diletto,...,F6F6F6,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,038543,3600.0,NaN,NaN,Je me souviens,2015-02-14 10:54:49,E13
5,6140012,CRISTIAN PAOLINI,crispaol,3603,138,179,53,1,Fri May 18 15:16:20 +0000 2007,NaN,...,DAECF4,http://a0.twimg.com/profile_background_images/...,C6E2EE,1F98C7,3600.0,NaN,NaN,"Swiper non rubare, Swiper non rubare!",2015-02-14 10:54:49,E13
6,6134312,tmpx,tmpx,1183,128,168,2,5,Fri May 18 10:28:11 +0000 2007,NaN,...,EFEFEF,http://a0.twimg.com/images/themes/theme14/bg.gif,131516,009999,3600.0,NaN,NaN,I never saw a wild thing sorry for itself.A sm...,2015-02-14 10:54:49,E13
7,6684602,igor,Igor99,6194,1062,1770,597,5,Fri Jun 08 23:55:44 +0000 2007,NaN,...,F6F6F6,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,038543,3600.0,NaN,NaN,La vita è quello che accade mentre sei impegna...,2015-02-14 10:54:49,E13
8,7046912,Marco Massarotto,marcomassarotto,10962,23368,958,590,715,Sun Jun 24 07:49:50 +0000 2007,http://marcomassarotto.com,...,FFFFFF,http://a0.twimg.com/images/themes/theme1/bg.png,10147D,10147E,3600.0,NaN,NaN,Founder e CEO di http://hagakure.it e autore d...,2015-02-14 10:54:49,E13
9,7470952,Antonio Parisi,personanormale,10947,760,712,693,27,Sat Jul 14 13:31:20 +0000 2007,NaN,...,D8C8BE,http://a0.twimg.com/profile_background_images/...,131516,009999,3600.0,NaN,NaN,"Sono timido come Sushi, pigro come Dado e russ...",2015-02-14 10:54:49,E13

In [9]:
df_fusers.head(10)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,370098498,pirfectmoses,pirfectmoses,24,4,588,16,0,Thu Sep 08 13:20:35 +0000 2011,NaN,...,DDEEF6,http://a0.twimg.com/profile_background_images/...,C6E2EE,1F98C7,NaN,NaN,NaN,NaN,2015-02-14 10:40:01,INT
1,37384589,SAK Nair,bsknair1967,656,57,693,597,0,Sun May 03 07:35:13 +0000 2009,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,NaN,NaN,NaN,in Kuwait with my buetiful family.,2015-02-14 10:40:01,INT
2,72110028,Deepak,dedjven,1234,15,104,1150,0,Sun Sep 06 19:50:08 +0000 2009,NaN,...,EFEFEF,http://a0.twimg.com/images/themes/theme14/bg.gif,131516,009999,-39600.0,NaN,NaN,NaN,2015-02-14 10:40:01,INT
3,82885728,Marcos Vinicius,BrowAlves,573,14,227,530,0,Fri Oct 16 14:02:48 +0000 2009,NaN,...,DDEEF6,http://a0.twimg.com/profile_background_images/...,C0DEED,0084B4,NaN,NaN,NaN,NaN,2015-02-14 10:40:01,INT
4,110120789,Shri Kant Kanaujia,kanaujiask,675,18,519,653,0,Sun Jan 31 12:08:41 +0000 2010,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,19800.0,NaN,NaN,NaN,2015-02-14 10:40:01,INT
5,134435538,Shree vishnu.M,shreeswara,1333,73,1998,1262,1,Sun Apr 18 12:04:04 +0000 2010,NaN,...,EFEFEF,http://a0.twimg.com/images/themes/theme14/bg.gif,020421,009999,19800.0,NaN,NaN,NaN,2015-02-14 10:40:01,INT
6,195913271,crystyane,crystyanesouza,99,26,1548,80,0,Mon Sep 27 21:53:12 +0000 2010,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,-36000.0,NaN,NaN,NaN,2015-02-14 10:40:01,INT
7,252647855,shashank shukla,creativebugg,553,63,1930,497,0,Tue Feb 15 16:34:46 +0000 2011,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,-36000.0,NaN,NaN,"I am an engineer, working with a co-operative ...",2015-02-14 10:40:01,INT
8,290499654,santosh nayak,santoshnayak1,1576,8,501,1402,1,Sat Apr 30 11:24:34 +0000 2011,NaN,...,FFF7CC,http://a0.twimg.com/images/themes/theme12/bg.gif,BADFCD,FF0000,NaN,NaN,NaN,manjur!,2015-02-14 10:40:01,INT
9,303932719,DATTARAM PARAB,DATTARAMPARAB,1378,48,1998,1108,0,Mon May 23 17:15:15 +0000 2011,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,19800.0,NaN,NaN,NaN,2015-02-14 10:40:01,INT